<h1>Backdoor Admin Panel</h1>

<article>
  <header>
    <h2> Create Director </h2>
  </header>

  <form action="/backdoor/insert_director" method="post">
  <button type="submit">
    Create director
  </button>
  </form>
</article>
